.emer {
    background: rgb(44, 184, 184);
    width: 20%;
    text-align: left;
    padding: 25px;
    min-height: 50px;
    border-radius: 20px;
    position:fixed;
    left: 40%;
    top: 10%;
    display: none;
  }
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
  }
  h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(20, 108, 114);
  }

.form input[type="text"]{
  width: 35%;
	background: white;
	border: 3px solid rgba(163,163,163, 0.4);
	border-radius: 15px;
	height: 20px;
	line-height: 10px;
	padding: 0 40px 0 10px;
	transition: .3s ease all; 
}

.form input[type="number"]{
  width: 35%;
	background: white;
	border: 3px solid rgba(163,163,163, 0.4);
	border-radius: 15px;
	height: 20px;
	line-height: 10px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.form input[type="date"]{
  width: 35%;
	background: white;
	border: 3px solid rgba(163,163,163, 0.4);
	border-radius: 15px;
	height: 20px;
	line-height: 10px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

input:focus{
    border: 3px solid #0075FF;
	  outline:auto;
	  box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
button{
  height: 45px;
	line-height: 45px;
	width: 10%;
	background: #0075FF;
	color: white;
	font-weight: bold;
	border: grey;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
  text-align: center;
}